<% content_for :title do %>Serious Internet is about<% end %>
<section>
  <div class="columns">
    <h3>Serious Internet is about</h3>
    <p>Bacon ipsum dolor sit amet leberkas pig biltong cow beef ribs shoulder jerky boudin shank pastrami jowl tenderloin. Strip steak cow pork loin tongue, corned beef ribeye biltong. Jowl shoulder venison jerky. Pork jowl brisket capicola ham hock. Biltong flank bacon, pork chop andouille filet mignon beef ribs. Pig strip steak venison turducken ham hock. Shankle pork flank turkey t-bone ribeye brisket beef turducken.</p>
    <p>Bresaola prosciutto pastrami, bacon pancetta shoulder t-bone ground round short ribs sirloin. Hamburger ribeye flank salami filet mignon rump pig prosciutto. Turkey turducken meatloaf bresaola cow. Kevin tenderloin filet mignon ham hock jerky pork chop tail salami. Boudin corned beef ground round, venison t-bone bresaola short loin ham hamburger fatback beef ribs chuck.</p>
    <p>Sausage pork chop swine, tail kielbasa jerky ham ham hock cow meatloaf. Shankle spare ribs short ribs boudin jowl pork belly. Ground round spare ribs jerky tenderloin salami chicken tail boudin pig fatback beef. Venison drumstick tri-tip shank, swine pork belly t-bone brisket kielbasa flank pork loin boudin tenderloin. Andouille venison flank bresaola. Flank pork cow swine leberkas shoulder ribeye short loin boudin ground round jowl. Flank meatloaf ball tip pancetta ham pork loin meatball jerky pig biltong strip ribs drumstick beef.</p>
  </div>
</section>